.cell-title {
    font-weight: bold;
  }

.toggle {
    height: 14px;
    width: 14px;
    display: inline-block;
    vertical-align: middle;
}

.toggle.expand {
    background: url(./icons8-plus-32.png) no-repeat center center;
    vertical-align: middle;
}

.toggle.collapse {
    background: url(./icons8-minus-32.png) no-repeat center center;
    vertical-align: middle;
}

  .cellFound {
  color: #006100;
  background: #C6EFCE;
}
.cellGood {
    color: #006100;
    background: #C6EFCE;
}

.cellBad {
    color: #9C0006;
    background: #FFC7CE;
}
